<div class="container">
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #drawer mode="side" class="sidenav">
            <mat-nav-list>
                <div class="sidenav-title">
                    <img src="./netsphere_with_name.png" alt="logo" width="50" height="50" />
                    <h3>NetSphere</h3>
                </div>
                <a mat-list-item routerLink="/" href="/">
                    <i class="fa fa-home me-1"></i> Trang Chủ
                </a>
                <a mat-list-item routerLink="/devices" href="/devices">
                    <i class="fas fa-laptop me-1"></i> Thiết bị
                </a>
                <a mat-list-item routerLink="/about" href="/about">
                    <i class="fa fa-info-circle me-1"></i> Giới Thiệu
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <header>
                <nav>
                    <button mat-icon-button (click)="drawer.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <h1>Quản Lý Thiết Bị Mạng</h1>
                </nav>
            </header>

            <main>
                <router-outlet></router-outlet> <!-- Nơi hiển thị nội dung của các component con -->
            </main>

            <footer>
                <p>&copy; 2024 Quản Lý Thiết Bị Mạng. Tất cả các quyền được bảo lưu.</p>
                <ul class="social-media">
                    <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
                    <li><a href="https://www.twitter.com" target="_blank">Twitter</a></li>
                    <li><a href="https://www.linkedin.com" target="_blank">LinkedIn</a></li>
                </ul>
                <p>Liên hệ: <a href="mailto:nhbkhang12&#64;gmail.com">nhbkhang12&#64;gmail.com</a></p>
            </footer>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>