<router-outlet>
    <div class="content-container">
        <h2>Chào mừng đến với Quản Lý Thiết Bị Mạng</h2>
        <p>Ứng dụng này giúp bạn quản lý thiết bị mạng một cách dễ dàng và hiệu quả.</p>

        <div class="network-status">
            <h5>Tình Trạng Mạng Hiện Tại</h5>
            <div class="status">
                <div class="status-item">
                    <h4>Ping</h4>
                    <p *ngIf="loading" class="skeleton"></p>
                    <p *ngIf="!loading && networkData?.ping" id="ping">
                        {{ networkData?.ping }} ms
                    </p>
                </div>
                <div class="status-item">
                    <h4>Tốc Độ Tải Về</h4>
                    <p *ngIf="loading" class="skeleton"></p>
                    <p *ngIf="!loading && networkData?.downloadSpeed" id="download-speed">
                        {{ networkData?.downloadSpeed }} Mbps
                    </p>
                </div>
                <div class="status-item">
                    <h4>Tốc Độ Tải Lên</h4>
                    <p *ngIf="loading" class="skeleton"></p>
                    <p *ngIf="!loading && networkData?.uploadSpeed" id="upload-speed">
                        {{ networkData?.uploadSpeed }} Mbps
                    </p>
                </div>
            </div>
        </div>
    </div>
</router-outlet>